# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
**logs**
**font**
*.toml
.idea
**.idea**
*.db
fortuneOpt/fortuneOpt
/webTool/webTool
/getLog/getLog
/fuckRedis/fuckRedis
/webTool/game_item.txt
/webTool/guess_cy_from_emoji.txt
/webTool/guess_movie.txt
/webTool/guess_picture.txt
/webTool/guess_song.txt
/webTool/ips.txt
/webTool/ktccy.txt
/webTool/public/public.zip
/webTool/riddle.txt
/scanClient/scanClient
game.zip
/scanLog/scanLog

imgOp/*.zip
imgOp/*.png
*.png
*.jpg
build
config.go
*.lock
/goext/test/.vs/test/v14/*.suo
CMakeFiles
CMakeCache.txt
*.cmake
*.opendb
Makefile
core.*
/goext/test/out_test
libgoext.h
/LiteBuild/LiteBuild
*.txt
*.zip
/IPServer/IPServer
/wanClient/wanClient
*.log
/opCoreManual/opCoreManual
*.mp3
/getSong/getSong
/getSong/cut.bat

vendor/
logs/
*.log
vendor*/
*.7z
/opFile/opFile
go.sum
*.wav
*.json.*
*.ttf
*.rar
ClientCheckData.json
getSong/json
qps.json
*.mp3
*.wav
*.bin
*.xls
opCoreManual\wechat
/goext/goext.h
